<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container login-container">
            <div class="row">
                <div class="col-md-6 login-form-1">
                    <h3>Login Form</h3>
                    <form [formGroup] = formGroup (ngSubmit) = "login()">
                        <div class="form-group">
                            <input #loginref type="text" class="form-control" placeholder="Your Username *" value="" formControlName='username'/><!--#name="ngModel" [(ngModel)]="getUserService().selectedUser.username" name="userName"/>-->
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" formControlName='password'/> <!--#name="ngModel" [(ngModel)]="getUserService().selectedUser.password" name="password"/>-->
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    </form>
                </div>
                <div class="col-md-6 login-form-2">
                    <h3>Sign Up Form </h3>
                    <form [formGroup] = formGroupA (ngSubmit) = "signUp()">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Username *" value="" formControlName='username'/>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" formControlName='password'/>
                        </div>
                        <div class="form-group">
                          <input type="text" class="form-control" placeholder="Your EmailId *" value="" formControlName='emailId' [pattern] = "emailRegex"/>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your DOB *" value="" formControlName='dob'/>
                    </div>
                        <div class="form-group">
                            <input type="submit" class="btnSubmit" value="Sign Up" />
                        </div>
                    </form>
                    <!--<select>
                        <option *ngfor = "let constant of constats index as i">{{constant.value}}</option>
                        <option *ngfor = "let constant of constats1 index as i">{{constant.value}}</option>
                    </select>-->
                    <div>{{message}}</div>
                </div>
            </div>
        </div>